<ul class="flex items-center font-sm font-medium h-full">
  {% if user.is_authenticated %}
    {% if request.session.is_hosting%}
    <li class="nav_link"><a href="{% url 'users:switch-hosting'%}">Guest Mode</a></li>
    <li class="nav_link"><a href="{% url 'rooms:create'%}">Upload</a></li>

    {% else %}
    <li class="nav_link"><a href="{% url 'users:switch-hosting'%}">Host Mode</a></li>
    {% endif %}
    <li class="nav_link"><a href="{{user.get_absolute_url}}">Profile</a></li>
    <li class="nav_link"><a href="{% url "users:logout"%}">Logout</a></li>
  {% else %}
    <li class="nav_link"><a href="{% url "users:login"%}">Login</a></li>
    <li class="nav_link"><a href="{% url "users:signup"%}">Signup</a></li>
  {% endif %}
</ul>
