<div class="w-1/4 mb-10 px-3 overflow-hidden">
    <a href="{% url "rooms:detail" room.pk%}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg" style="background-image: url({{room.first_photo}});"></div>

        <div class="flex justify-between mb-2">
            <div class="w-4/5 truncate">
            {% if room.host.superhost %}
            <span class="uppercase font-medium text-black text-sm py-px px-1 border border-black rounded">superhost</span>
            {% endif %}
                {{room.city}} {{room.country.name}}
            </div>
            <div>
                <span><i class="fas fa-star text-red-500"></i>{{room.total_rating}}</span>
            </div>
        </div>
        <span class="w-11/12 block text-black truncate">{{room.name}}</span>
    </a>
</div>
