{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}
{% block content %}
<div class="container mx-auto">
  <div class="rounded-xl mx-auto bg-gray-800 h-25vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1536315238512-4c8cebdaaf93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop)">
  </div>
  <div class="flex flex-wrap">
    {% for room in rooms %}
      {% include "mixins/room_card.html" with room=room%}
    {% endfor %}
  </div>
  <div class="container flex items-center justify-center mx-auto">
    {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-arrow-left text-teal-400"></i></a>
    {% endif %}
      <span class="mx-3">
        {{page_obj.number}} of {{page_obj.paginator.num_pages}}
      </span>
    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}"><i class="fas fa-arrow-right text-teal-400"></i></a>
    {% endif %}
  </div>
</div>

{% endblock content %}
