{% extends "base.html" %}

{% block page_title %}
    {{room.name}}
{% endblock page_title %}

{% block content %}
    <div class="-mt-5 contaner max-w-full flex h-75vh mb-20">
        <div class="h-full w-1/2 bg-cover" style="background-image: url({{room.first_photo}});"></div>
        <div class="w-1/2 flex flex-wrap">
            {% for photo in room.get_next_four_photos %}
                <div class="w-1/2 h-auto bg-cover border border-gray-400" style="background-image: url({{photo.file.url}});"></div>
            {% endfor%}
        </div>
    </div>
    <div class="container max-w-full mx-auto flex pb-56 justify-around">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div>
                    <h4 class="text-2xl mb-px font-medium">{{room.name}}</h4>
                    <span>{{room.city}}</span>
                </div>
                <a href="{{room.host.get_absolute_url}}" class="flex flex-col items-center ">
                    {% include "mixins/user_avatar.html" with user=room.host %}                    
                    <span class="mt-1 ">
                        {{room.host.first_name}}
                    </span>
                </a>
            </div>
            <div class="flex border-section">
                <span class="mr-5 font-light">{{room.room_type}}</span>
                <span class="mr-5 font-light">{{room.beds}} bed{{room.beds|pluralize}}</span>
                <span class="mr-5 font-light">{{room.guests}} guest{{room.guests|pluralize}}</span>
                <span class="mr-5 font-light">{{room.baths}} bath{{room.baths|pluralize}}</span>
                <span class="mr-5 font-light">{{room.bedrooms}} bedroom{{room.bedrooms|pluralize}}</span>
            </div>
            <p class="border-section">
                {{room.description}}
            </p>
            <div class="border-section">
                <h4 class="text-lg font-medium mb-5">Amenities</h4>
                {% for a in room.amenities.all %}
                    <li>{{a}}</li>
                {%endfor%}
            </div>
            <div class="border-section">
                <h4 class="text-lg font-medium mb-5">Facilities</h4>
                {% for a in room.facilities.all %}
                    <li>{{a}}</li>
                {%endfor%}
            </div>
            <div class="border-section">
                <h4 class="text-lg font-medium mb-5">House Rules</h4>
                {% for a in room.house_rules.all %}
                    <li>{{a}}</li>
                {%endfor%}
            </div>
            <div class="border-section">
                <h4 class="text-2xl font-medium mb-5">Reviews</h4>
                {{room.total_rating}} {{room.reviews.count}} review{{room.reviews.count|pluralize}}
            </div>
        </div>
    </div>
{% endblock content %}